Flask==3.1.0
bleach==6.2.0
Gunicorn==23.0.0
sqlalchemy-libsql==0.1.0
python-dotenv==1.0.1
aiohttp==3.11.13 # Pinned to avoid a vulnerability
zipp>=3.19.1 # Pinned to avoid a vulnerability

# Healthcheck dependencies
requests==2.32.3