Flask==3.1.2
bleach==6.3.0
Gunicorn==25.0.3
libsql==0.1.11
urllib3==2.6.3
python-dotenv==1.2.1
Cryptography==46.0.5
requests==2.32.5
aiohttp==3.13.3 # Pinned to avoid a vulnerability
zipp>=3.19.1 # Pinned to avoid a vulnerability
