<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-box">
        <h2>404: Link not found</h2>
        <h3>Please try another link</h3>
        <center>
            <a href="https://{{tld}}" class="clickable">Share another link</a>
            <p>
            <a href="https://github.com/jackseceng/LinkShort/tree/main" class="clickable">Source Code</a>
            <a> | </a>
            <a href="https://jacksec.engineer/mail" class="clickable">Contatct Me</a>
        </p>
        </center>
    </div>
</body>
</html>