<!DOCTYPE html>
<html lang="en">

<head>
    <title>LinkShort - Share Links Securely</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-box">
        <form method="POST" action="" id="submission-form">
            <div class="user-box">
                <input type="URL" name="link" id="link" required="">
                <label>Paste your link here...</label>
            </div>
            <center>
                <a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input type="submit" value="Get one time link" class="clickable" />
                </a>
            </center>
        </form>
        <p>
            <a>
                <center>
                    <a href="https://github.com/jackseceng/LinkShort/tree/main" class="clickable">Source Code</a>
                    <a> | </a>
                    <a href="https://jacksec.engineer/mail" class="clickable">Contact Me</a>
                </center>
            </a>
        </p>
    </div>
</body>

</html>