<!DOCTYPE html>
<html lang="en">

<head>
    <title>LinkShort - Shortened Link</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
</head>

<body>
    <div id="notification" class="notification"></div>
    <div id="errorReason" value="{{ errorMessage }}"></div>
    <form method="GET" action="" autocomplete="off" class="form">
        <div class="control">
            <center>
                <h1>
                    Your short link
                </h1>
            </center>
        </div>
        <div class="control block-cube block-input">
            <input name="link" id="link" required="" value="https://{{tld}}/{{extension}}">
            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
        </div>
        <button id="copy-btn" type="button" class="btn block-cube block-cube-hover">
            <div class="bg-top">
                <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
                <div class="bg-inner"></div>
            </div>
            <div class="bg">
                <div class="bg-inner"></div>
            </div>
            <div class="text">
                Copy to clipboard
            </div>
        </button>
        <p>
            <center>
                <a href="https://{{tld}}" target="_blank"><span class="text">Share another link&gt;</span></a>
            </center>
        </p>
        <div class="credits">
            <a href="https://github.com/jackseceng/LinkShort/tree/main" target="_blank">
                Source code
            </a>
            |
            <a href="https://jacksec.engineer" target="_blank">
                Made by Jack
            </a>
        </div>
    </form>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
<!-- Based on this codepen: https://codepen.io/marko-zub/pen/mzPeOV -->