<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="refresh" content="3; URL={{link}}" />
    <title>Redirect from Short URL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg" />
    <link rel="shortcut icon" href="static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png" />
    <link rel="manifest" href="static/site.webmanifest" />
</head>

<body>
    <form autocomplete='off' class='form'>
        <div class='control'>
            <center>
                <h1>
                    You are being redirected...
                </h1>
                <div class="loader"></div>
            </center>
        </div>
        <div class='credits'>
            <a href='https://github.com/jackseceng/LinkShort/tree/main' target='_blank'>
                Source code
            </a>
            |
            <a href='https://jacksec.engineer' target='_blank'>
                Made by Jack
            </a>
        </div>
    </form>
</body>

</html>
<!--Based on this codepen: https://codepen.io/marko-zub/pen/mzPeOV-->