/* For small screens (phones) */
@media screen and (max-width: 480px) {
  .form {
      width: 95%;
      padding: 32px 10px 12px;
  }
  
  .form .control input,
  .form .btn {
      padding: 10px 12px;
  }
  
  .credits {
      padding: 10px;
  }
}

/* For medium screens (tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .form {
      width: 80%;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 1.5rem;
  padding: 15px;
}

.form {
  width: 90%;
  max-width: 400px;
  padding: 5% 15px 24px;
  margin: 0 auto;
}

.form .control {
  margin: 0 0 24px;
}

.form .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 1rem;
}

.form .control input:hover, .form .control input:focus {
  outline: none;
  border: 0;
}

.form .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
}

.block-cube {
  position: relative;
}

.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}

.block-cube .bg-top .bg-inner {
  bottom: 0;
}

.block-cube .bg {
  position: absolute;
  inset: 0;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
}

.block-cube .bg-right {
  position: absolute;
  background: #00d4ff;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}

.block-cube .bg-right .bg-inner {
  left: 0;
}

.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}

/* stylelint-disable */
.block-cube .bg-inner {
  background: #212121;
  position: absolute;
  inset: 2px;
}
/* stylelint-enable */

.block-cube .text {
  position: relative;
  z-index: 2;
}

/* stylelint-disable */
.block-cube.block-input input {
  position: relative;
  z-index: 2;
}
/* stylelint-enable */

.block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

.block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
  top: 100%;
  background: rgb(255 255 255 / 50%);
}

.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
  background: rgb(255 255 255 / 50%);
  transition: background 0.2s ease-in-out;
}

/* stylelint-disable */
.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}
/* stylelint-enable */

.block-cube.block-input:focus .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg-top,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:hover .bg {
  background: rgb(255 255 255 / 80%);
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 100%;
  z-index: 111;
}

a {
  background: linear-gradient(currentcolor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  color: #fff;
  display: inline-block;
  padding: 0 .5em 0.2em;
  text-decoration: none;
  transition: background-size 0.2s;
}

a:hover {
  --underline-width: 100%;
}

.credits a {
  opacity: 0.6;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}

.credits a:hover {
  opacity: 1;
}

.loader {
  border-width: 3vmin;
  border: 16px solid #212121;
  border-radius: 50%;
  border-top: 16px solid #340979;
  width: 15vmin;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.notification {
  position: fixed;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color:#212121;
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  z-index: 2000;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 0 10px #f00800;
}

.notification.show {
  opacity: 1;
}
