apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: linkshort
spec:
  selector:
    app: redis
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
    protocol: TCP
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: linkshort
spec:
  selector:
    matchLabels:
      app: redis
  replicas: 1
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis  # or just image: redis
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 6379


# kubectl create ns linkshort
# kubectl apply -n linkshort -f .\src\deployment.yaml
# kubectl get po -n linkshort 
# kubectl get svc -n linkshort
# minikube service -n linkshort linkshort-app-service

# To delete:
# kubectl delete deployment linkshort -n linkshort

# https://www.youtube.com/watch?v=JmCn7k0PlV4 - DevOpsGuy 8s redis
