<!doctype html>
<html lang="en">
  <head>
    <title>Server Error - cubelink</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon-96x96.png') }}"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon-96x96.png') }}"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <form autocomplete="off" class="form">
      <div class="control">
        <center>
          <h1>500: Server error</h1>
        </center>
      </div>
      <button class="btn block-cube block-cube-hover">
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
        <div>
          <a href="https://{{tld}}"><span class="text">Share a link</span></a>
        </div>
      </button>
      <p>
        <center>
          <a
            href="https://github.com/jackseceng/LinkShort/issues/new/choose"
            target="_blank"
            ><span class="text">Report an issue&gt;</span></a
          >
        </center>
      </p>
      <div class="credits">
        <a
          href="https://github.com/jackseceng/LinkShort/tree/main"
          target="_blank"
        >
          Source code
        </a>
        |
        <a href="https://jacksec.engineer" target="_blank"> Made by Jack </a>
      </div>
    </form>
  </body>
</html>
<!--Based on this codepen: https://codepen.io/marko-zub/pen/mzPeOV-->
