<!DOCTYPE html>
<html lang="en">
  <head>
    <title>cubelink - Secure Link Shortener</title>
    <link
      rel="stylesheet"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/captcha/app/static/style.css"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon.svg"
    />
    <link
      rel="shortcut icon"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/apple-touch-icon.png"
    />
    <link
      rel="manifest"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/site.webmanifest"
    />
    <meta id="errorreason" value="{{ errormessage }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="notification" class="notification"></div>
    <form method="POST" autocomplete="off" class="form">
      <div class="control">
        <center>
          <h1>Shorten a link</h1>
        </center>
      </div>
      <div class="control block-cube block-input">
        <input
          name="link"
          id="link"
          placeholder="Paste a link here..."
          type="URL"
          required=""
        />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <center>
      <div
        class="cf-turnstile"
        data-sitekey="0x4AAAAAAB4tdoq9nZsPIcR2"
        data-theme="dark"
        data-size="normal"
        data-callback="onSuccess"
      ></div>
      </center>
      <br>
      <button class="btn block-cube block-cube-hover" type="submit">
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
        <div class="text">Shorten it!</div>
      </button>
    </form>
    <div class="credits">
      <a
        href="https://github.com/jackseceng/LinkShort/tree/main"
        target="_blank"
      >
        Source code
      </a>
      |
      <a href="https://jacksec.engineer" target="_blank"> Made by Jack </a>
    </div>
    <script src="https://cdn.statically.io/gh/jackseceng/linkshort/captcha/app/static/main.js"></script>
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
    ></script>
  </body>
</html>
<!-- Based on this codepen: https://codepen.io/marko-zub/pen/mzPeOV -->
