<!DOCTYPE html>
<html lang="en">

<head>
    <title>One Time Link</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-box">
        <form method="GET" action="" id="submission-form">
            <div class="user-box">
                <input name="link" id="link" required="" value="https://{{tld}}/{{extension}}">
                <label> Your One Time Link, it will expire after use:</label>
            </div>
            <center>
                <a href="https://{{tld}}/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input type="button" value="Share Another URL" class="clickable" />
                </a>
            </center>
        </form>
        <p>
            <a>
                <center>
                    <a href="https://github.com/jackseceng/LinkShort/tree/main" class="clickable">Source Code</a>
                    <a> | </a>
                    <a href="https://jacksec.engineer/mail" class="clickable">Contatct Me</a>
                </center>
            </a>
        </p>
    </div>
</body>

</html>