<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="3; URL={{link}}" />
    <title>Redirect - cubelink</title>
    <link
      rel="stylesheet"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/style.css"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon.svg"
    />
    <link
      rel="shortcut icon"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/apple-touch-icon.png"
    />
    <link
      rel="manifest"
      href="https://cdn.statically.io/gh/jackseceng/linkshort/main/app/static/site.webmanifest"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="output"></div>
    <form autocomplete="off" class="form">
      <div class="control">
        <center>
          <div class="loader"></div>
        </center>
      </div>
      <div class="credits">
        <a href="https://{{tld}}" target="_blank"> Created with {{tld}} </a>
      </div>
    </form>
  </body>
</html>
<!-- Based on this codepen: https://codepen.io/marko-zub/pen/mzPeOV -->
