---
name: Grype

on:
  push:
    branches: ["main" ]
    paths: ['Dockerfile', '.github/workflows/anchore.yml']
  pull_request:
    branches: ["main"]
    types:
      - ready_for_review


permissions:
  contents: read

jobs:
  analyze:
    name: Analyze (container)
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Build Docker image
      run: docker build . --file Dockerfile --tag jackseceng/linkshort:latest
    - name: Perform Vulnerability Scan
      uses: anchore/scan-action@7c05671ae9be166aeb155bad2d7df9121823df32 # v6.1.0
      id: scan
      with:
        image: "jackseceng/linkshort:latest"
        fail-build: true
        severity-cutoff: critical
        only-fixed: true
        fail-build: false # Turn this on once intial findings are dealt with
    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@17a820bf2e43b47be2c72b39cc905417bc1ab6d0 # v3.28.6
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}
