---
name: Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: docker.io
  REPOSITORY: jackseceng
  IMAGE_NAME: linkshort

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      contents: read
      packages: write
      pull-requests: write

    steps:
      - 
        name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      -
        name: Login to Docker Hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - 
        name: Build and Push Main
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          tags: ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest
          provenance: true
          sbom: true
      - 
        name: Build and Push PR
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          tags: ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.event.number }}
          provenance: true
          sbom: true
      - 
        name: Grype Vulnerability Scan Main
        if: github.ref == 'refs/heads/main'
        uses: anchore/scan-action@1638637db639e0ade3258b51db49a9a137574c3e # v6.5.1
        with:
          image: ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest
          fail-build: false
          severity-cutoff: medium
          only-fixed: true
          output-file: 'grype-results.sarif'
      - 
        name: Grype Vulnerability Scan PR
        if: github.event_name == 'pull_request'
        uses: anchore/scan-action@1638637db639e0ade3258b51db49a9a137574c3e # v6.5.1
        with:
          image: ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.event.number }}
          fail-build: false
          severity-cutoff: medium
          only-fixed: true
          output-file: 'grype-results.sarif'
      - 
        name: Scout Vulnerability Scan Main
        if: github.ref == 'refs/heads/main'
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1.18.2
        with:
          image: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest
          command: cves
          ignore-unchanged: true
          only-severities: critical,high,medium
          write-comment: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sarif-file: sarif.output.json
          summary: true
      - 
        name: Scout Vulnerability Scan PR
        if: github.event_name == 'pull_request'
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1.18.2
        with:
          image: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.event.number }}
          command: cves
          ignore-unchanged: true
          only-severities: critical,high,medium
          write-comment: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sarif-file: sarif.output.json
          summary: true
      - 
        name: Trivy Vulnerability Scan Main
        if: github.ref == 'refs/heads/main'
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4 # 0.32.0
        with:
          image-ref: '${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest'
          scan-type: 'image'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH,MEDIUM'
          format: 'sarif'
          output: 'trivy-results.sarif'
      -
        name: Trivy Vulnerability Scan PR
        if: github.event_name == 'pull_request'
        uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4 # 0.32.0
        with:
          image-ref: '${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.event.number }}'
          scan-type: 'image'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH,MEDIUM'
          format: 'sarif'
          output: 'trivy-results.sarif'
      - 
        name: Upload Grype results to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@96f518a34f7a870018057716cc4d7a5c014bd61c # v3.29.10
        with:
          sarif_file: 'grype-results.sarif'
      - 
        name: Upload Scout results to GitHub Code Scanning
        if: ${{ github.event_name != 'pull_request_target' }}
        uses: github/codeql-action/upload-sarif@96f518a34f7a870018057716cc4d7a5c014bd61c # v3.29.10
        with:
            sarif_file: sarif.output.json
      - 
        name: Upload Trivy results to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@96f518a34f7a870018057716cc4d7a5c014bd61c # v3.29.10
        with:
          sarif_file: 'trivy-results.sarif'
