---
name: Commits

on:
  pull_request:
    branches: [ "main" ]

jobs:
  standardise:
    name: Standardise
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Check for conventional commits
      - uses: webiny/action-conventional-commits@8bc41ff4e7d423d56fa4905f6ff79209a78776c7 # v1.3.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          allowed-commit-types: "feat,fix,chore,docs,refactor,build"