---
name: Cleanup

on:
  pull_request:
    types:
      [ "closed" ]
    paths:
      ['Dockerfile', 'requirements.txt', 'app/**', '.github/workflows/docker-pr.yml']


env:
  BRANCH: ${{ github.head_ref }}

jobs:
  cleanup:
    name: Cleanup PR Conatiner
    runs-on: ubuntu-latest

    permissions:
      pull-requests: read

    steps:
      - name: Delete Image
        run: |
          curl -i -X DELETE \
          -H "Accept: application/json" \
          -H "Authorization: JWT $DOCKERHUB_TOKEN" \
          https://hub.docker.com/v2/repositories/jackseceng/linkshort/tags/${{ env.BRANCH }}/
