---
name: Files

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


permissions: 
  read-all

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: Lint Codebase
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          DEFAULT_BRANCH: origin/main
          # To report GitHub Actions status checks
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_CSS: true
          VALIDATE_DOCKERFILE_HADOLINT: true
          VALIDATE_GITLEAKS: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_HTML: true
          VALIDATE_MARKDOWN: true
          VALIDATE_PYTHON_BLACK: true
          VALIDATE_PYTHON_ISORT: true
          VALIDATE_YAML: true
          VALIDATE_JAVASCRIPT_PRETTIER: true
          # To find and set more language specific linters
          # Find VALIDATE_ALL_CODEBASE on this page:
          # https://github.com/super-linter/super-linter
          FILTER_REGEX_EXCLUDE: ".app/static/qrcode.min.js"
          # Excluding min.js file as not compatible with prettier linter
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}