name: Upload Static Assets to R2

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/static/**'
      - '.github/workflows/r2-upload.yml'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Upload to R2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          AWS_REGION: auto
        run: |
          aws s3 sync app/static s3://{{ secrets.R2_BUCKET }} --endpoint-url https://7ea094a5d355605ab7d17bdad98fc1cf.eu.r2.cloudflarestorage.com
